DOCKER_REGISTRY=docker.io/library/

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=8238
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8338
BACKEND_INTERNAL_PORT=8080
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3538
REDIS_HOST=127.0.0.1
REDIS_PORT=6538

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=gym_center
MYSQL_USER=admin
MYSQL_PASSWORD=password
REDIS_PASSWORD=

TZ=Asia/Shanghai
LANG=zh_CN.UTF-8
